/*
 Theme Name: 	Kleem Old
 Template: 		twentyeleven
 Author: 		stfn
 Author 		URI: http://wordpress.org/
 Description: 	Custom child theme for the Twenty Eleven theme
 Version: 		0.1
 License: 		GNU General Public License

*/
@import url("../twentyeleven/style.css");
/* -------------------------------------------------------------- */

/*Top-Menu*/

#top-menu {
	width: 860px;
	height: 25px;
	margin-bottom: 25px;
	margin-left: auto;
	margin-right: auto;
	float: right;
	right: 50%;
	position: relative;
}

#top-menu #top-menu-bg {
	padding: 0 15px;
	font-size: 12px;
	background: url(images/header.png);
	line-height: 20px;
	box-shadow: 0px 1px 16px 2px #2a2a2a;
	-moz-box-shadow: 0px 1px 16px 2px #2a2a2a;
	-webkit-box-shadow: 0px 1px 16px 2px #2a2a2a;
	box-shadow: 0px 1px 16px 2px #2a2a2a;
	float: right;
	display: inline;
	margin: 0px;
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-radius-bottomleft: 3px;
	-moz-border-radius-bottomright: 3px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	right: -50%;
	position: relative;
}
#top-menu .menu-top_menu-container {
	float: right;
	margin-top: 5px;
}
.menu-top_menu-container ul {
	margin: 0px;
}

#top-menu li {
	list-style: none;
	padding: 5px;
	float: left;
}

#top-menu a {
	color: #F6F6F6;
}

/* =Header
 ----------------------------------------------- */

header#branding {
	width: 100%;
	border: 0px;
	padding: 0px;
	padding-left: 0px;
}

#branding hgroup {
	margin: 0px;
}
#branding img {
	margin: 0px;
}
#branding {
	z-index: 99;
}
#branding hgroup span img{
	width: 20px;
	height: 20px;
	float: left;
	display: inline;
	clear: right;
	padding-left: 90px;
	padding-bottom: 10px;
	margin-top: 3px;
}
#site-title a {
	color: #F6F6F6;
	font-size: 38px;
	padding-left:5px;
	float: left;
	display: inline;
	clear: right;
	padding-bottom:10px;
}
/*farbe hover*/
#branding hgroup h1 #site-title span a:hover,#branding hgroup h1 #site-title span a:focus {
	color: #A1CC12;
	padding-left: 15px;
	padding-bottom:10px;
}

#site-description {
	color: #B2B2B2;
	margin: 0 150px 2.65625em 0;
	text-align: justify;
	margin-top: 10px;
	padding-left: 90px;
}


/*zero-content*/
 #primary #content #post-0 .entry-content p{
 	clear:left;
 }

/* =Navigation
 -------------------------------------------------------------- */


#access div {
	margin: 0px;
}
#access {
	background: none; /* Show a solid color for older browsers */
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	margin: 0px;
}

#access .menu-main-container {
	width: 100%;
	height: 58px;
	position: relative;
}

#access a {
	line-height: 4.6em;
	padding: 0em;
	color: #2a2a2a;
}
#access #menu-main > li > a, #access #menu-main > li {
	position: static;
	height: 58px;
	line-height: 58px;
	width: 190px;
	background-color: #A1CC12;
	margin-right: 25px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	font-size: 20px;
	font-weight: normal;
}
#access #menu-main .menu-item-img-bg {
	margin-left: 5px;
	margin-top: 5px;
	background-color: #E8E8E8;
	width: 50px;
	height: 50px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
	float: left;
}
#access #menu-main .menu-item-img-bg img {
	width: 45px;
	height: 45px;
	margin: 3px;
}
#access #menu-main .title-text {
	float: left;
	text-align: center;
	width: 130px;
}


#access #menu-main .current-menu-item .menu-item-img-bg,
#access #menu-main .current-menu-parent .menu-item-img-bg{
	background-color: #E8E8E8;
	height: 54px;
	-webkit-border-bottom-left-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-radius-bottomleft: 0px;
	-moz-border-radius-bottomright: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

#access #menu-main > li > a:hover, #access #menu-main > li > a:focus {
	background: #A1CC12; /* Show a solid color for older browsers */
	color: #2a2a2a;
	float: left;
}

#access #menu-main > li:hover > a {
	background: #A1CC12;
}
#access #menu-main li:hover .menu-item-img-bg, #access #menu-main a:focus .menu-item-img-bg {
	background-color: #E8E8E8; /* Show a solid color for older browsers */
	height: 54px;
	float: left;
	-webkit-border-bottom-left-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-radius-bottomleft: 0px;
	-moz-border-radius-bottomright: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

/*ul --> listen im access float:left Menüs untereinander!!!*/
#access ul {
	margin: 0;
	float: left;
}

#access #menu-main {
	padding-left: 90px;
}


/*neues Sub-Menu*/
#access ul ul.sub-menu {
	visibility: hidden;
	background-color: #E8E8E8;
	display: block;
	width: 100%;
	height: 38px;
	position: absolute;
	top: 100%;
	left: 0px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-bottom: 2px dashed #444;
}

#access ul ul.sub-menu a {
	background: none;
	width: auto;
	border-bottom: none;
}

#access ul li:hover ul.sub-menu,
#access ul li:focus ul.sub-menu {
	z-index: 99999;
	visibility: visible;	
}

#menu-main li.current-menu-item ul.sub-menu,
#menu-main li.current-menu-parent ul.sub-menu {
	visibility: visible;
	z-index: 9999;
}

#menu-main ul.sub-menu .current-menu-item,
#menu-main ul.sub-menu a:hover,
#menu-main ul.sub-menu a:focus {
	background: #A1CC12;	
}

#submenu_bg {
	width: 100%;
	height: 40px;
	float: left;
	clear: both;
	background-color: #E8E8E8;
}

/* =Body
 -------------------------------------------------------------- */
#main {
	clear: both;
	padding: 1.625em 0 0;
	background-color: white;
}

#primary {
	margin: 0;
	background-color: white;
}

#primary #content .entry-header {
	/*min-height: 125px;*/
	-webkit-border-top-left-radius: 20px;
	-webkit-border-top-right-radius: 20px;
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-topright: 20px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	float: left;
	margin-bottom: 15px;
}

.entry-title {
	padding-top: 0px;
}
/*normale posts*/
#primary #content .type-post .entry-title {
	line-height: 28px;
	padding: 0px;
}

.singular #primary #content .type-post .entry-title {
	width: 100%;
	line-height: 32px;
	font-size: 30px;
}

.entry-date {
	color: #e6e6e6;
}

#primary #content .type-post .title {
	width: 617px;
	float: left;
	margin-bottom: 10px;
}

#primary #content .type-post .entry-header img {
	float: left;
	width: 97px;
	padding-right: 15px;
}

#primary #content .type-post .entry-summary p {
	line-height: 18px;
}

#primary #content .type-post .entry-summary p, #primary #content .type-post .entry-summary a {
	color: #2a2a2a;
}

#primary #content .type-post .entry-header a:hover {
	text-decoration: none;
}

#primary #content .type-post .entry-summary p:hover, #primary #content .type-post .entry-summary a:hover {
	text-decoration: none;
}

#primary #content .type-post .entry-header .meta-nav {
	color: red;
}
.type-post .entry-title {
	padding-top: 0px;
	line-height: 20px;
}

#primary #content .entry-title a {
	color: #E8E8E8;
	font-size: 16px;
	font-weight: lighter;
	line-height: 1.5em;
}

#primary #content .type-rio_message .entry-title a {
	color: #1982D1;
	font-size: 16px;
	font-weight: bold;
	line-height: 1.5em;
	text-decoration: none;
}
.entry-meta {
	color: #666;
	clear: both;
	font-size: 12px;
	line-height: 40px;
	padding: 5px;
}

.single-post .hentry {
	padding: 1.875em 0 0 !important;
}

.hentry, .no-results {
	border-bottom: 0px solid #DDD;
}

/* One column */
.one-column #page {
	width: 860px;
	max-width: none;
	margin: 0em auto 0em;
	background: url(images/header.png);
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	box-shadow: 0px 13px 37px 3px #2a2a2a;
	-moz-box-shadow: 0px 13px 37px 3px #2a2a2a;
	-webkit-box-shadow: 0px 13px 37px 3px #2a2a2a;
	box-shadow: 0px 13px 37px 3px #2a2a2a;
}
body {
	background: #2a2a2a url(images/wood.png);
	padding: 0px;
}

/*Alle Artikel*/

article {
	clear: both;
}

/* Single Rio-Message */
article.type-rio_message {
	background: #e8e8e8 url(images/header.png);
	width: 730px;
	height: 100%;
	margin: 0px 0px 18px 0px;
	padding: 0px;
	float: none;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	display: block;
}
article.type-rio_message .entry-header .thumbnail {
	float: left;
	width: 97px;
	height: 97px;
	margin: 15px 15px 0px 0px;
}
article.type-rio_message .entry-header img {
	width: 97px;
	height: 97px;
}

article.type-rio_message .entry-header .entry-title {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	clear: none;
	word-wrap: break-word;
	color: #E8E8E8;
	font-size: 16px;
}
.clearfix {
	padding: 0px;
	margin: 0px;
	clear: both;
}
article.type-rio_message a {
	clear: none;
	word-wrap: break-word;
	color: #E8E8E8;
	font-size: 16px;
	text-decoration: none;
	cursor: pointer;
}

/*RatingBox*/

/*TopicsRioArticle*/
article.type-rio_message .rio_topics {
	width: 570px;
	clear: right;
	float: left;
}
article.type-rio_message  .rio_topics .rio_topic_wrap a {
	background: none;
	float: left;
	font-size: 13px;
	font-weight: bold;
	margin-right: 5px;
	margin-top: 15px;
	color: #1982d1;
	padding: 3px;
	border: 1px solid #1982d1;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	box-shadow: 0px 23px 14px -6px rgba(200,200,200,0.1) inset;
	-moz-box-shadow: 0px 23px 14px -6px rgba(200,200,200,0.1) inset;
	-webkit-box-shadow: 0px 23px 14px -6px rgba(200,200,200,0.1) inset;
}
article.type-rio_message  .rio_topics .rio_topic_wrap a:focus, article.type-rio_message  .rio_topics .rio_topic_wrap a:hover {
	text-decoration: underline;
	border: 2px solid #1982d1;
	padding: 2px;
}
/*TopicsFooter*/

/*topics im artikel*/
article.type-rio_message a.rio_topic.user_topic {
	background: none;
	color: #1982d1;
	padding: 3px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	text-decoration: underline;
}

.singular .hentry.type-rio_message {
	border-bottom: none;
	position: relative;
}

article.rio_message .quote {
	font: 1.5em Georgia, Arial;
}

/* entry control (rating box, share, comment) */
article.type-rio_message footer.entry-control {
	height: auto;
	background: #2a2a2a;
	padding: 5px 5px 10px 5px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}


/* Comment Box */
article.type-rio_message footer.entry-control .comment_box {
	width: 40px;
	height: 40px;
	float: left;
	background: url(images/commentBox.png);
}

article.type-rio_message footer.entry-control .comment_number {
	display: block;
	line-height: 33px;
	text-align: center;
	color: #E8E8E8;
}


/* RatingBox */

article.type-rio_message footer.entry-control .ratingbox {
	border: 0px solid #36363b;
	text-align: center;
	padding: 10px 3px 1px 3px;
	width: 230px;
	margin: 0px;
	float: right;
}


article.type-rio_message footer.entry-control .ratebutton {
	width: 50%;
	float: left;
}

article.type-rio_message footer.entry-control .ratingbox .ratebutton a {
	display: block;
	background: #E8E8E8;
	border: 1px solid #E8E8E8;
	font-weight: bold;
	width: 100px;
	margin: 0px 3px 0px 3px;
	padding: 4px;
	color: #2a2a2a;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

article.type-rio_message footer.entry-control .ratingbox.rated .agreement.ratebutton.checked a {
	background-color: #E8E8E8;
	box-shadow: none;
	border: 3px solid #A1CC12;
	padding: 2px;
}
article.type-rio_message footer.entry-control .ratingbox.rated .disaffirmation.ratebutton a {
	background-color: gray;
	box-shadow: none;
	border: 3px solid gray;
	padding: 2px;
}
article.type-rio_message footer.entry-control .ratingbox.rated .disaffirmation.ratebutton.checked a {
	background-color: #E8E8E8;
	box-shadow: none;
	border: 3px solid #A1CC12;
	padding: 2px;
}
article.type-rio_message footer.entry-control .ratingbox.rated .agreement.ratebutton a {
	background-color: gray;
	box-shadow: none;
	border: 3px solid gray;
	padding: 2px;
}



article.type-rio_message footer.entry-control .rateometer {
	width: 100%;
	float: left;
	clear: both;
	overflow: hidden;
	margin-top: 12px;
}

article.type-rio_message footer.entry-control .rateometer > div {
	float: left;
}

article.type-rio_message footer.entry-control .rateometer > .agreement {
	height: 10px;
	background: #A1CC12;
}

article.type-rio_message footer.entry-control .rateometer > .disaffirmation {
	height: 10px;
	background: #e8e8e8;
}

article.rio_message .checked a {
	background-color: red;
}

article.type-rio_message footer.entry-control .rateometer .stats {
	color: gray;
	clear: both;
	width: 100%;
}

article.type-rio_message footer.entry-control .rateometer .stats span:nth-child(2) {
	margin-left: 10px;
}

/*SingularMessageToRio*/
.singular .hentry.type-rio_message {
	border-bottom: none;
	position: relative;
	padding: 0px;
}
.singular .type-rio_message .entry-title {
	line-height: 0px;
	clear: left;
}

/* Single Article (oldshool Post)*/
.singular .type-rio_message .entry-content a.thickbox {
	margin: 10px 10px 0px 0px;
	float: left;
}

.singular .type-rio_message .topic-reference a {
	color: #1982d1;
	background: #3c3c3b;
	padding: 10px;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	margin-left: auto;
	margin-right: auto;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.singular .type-rio_message .topic-reference a:hover {
	text-decoration: underline;
}
.singular .type-rio_message .topic-reference {
	margin-left: auto;
	margin-right: auto;
	width: 702px;
	height: auto;
	text-align: center;
	background-color: #e8e8e8;
	line-height: 50px;
	clear: both;
}
.singular .type-rio_message .entry-meta {
	margin-left: 15px;/*fehler:zu lang*/
	margin-right: auto;
	margin-top: 15px;
	height: auto;
	display: block;
	background: none;
	line-height: 50px;
	clear: both;
	padding: 0px;
}
.singular .type-rio_message .topic-reference iframe {
	padding: 50px;
	padding-bottom: 0px;
}

.singular #primary #content .type-rio_message .entry-header .entry-title {
	line-height: 25px;
	/*border-bottom: 2px dashed #b2b2b2;*/
}
.singular #primary #content .type-rio_message .entry-content {
	color: #2a2a2a;
	background-color: #e8e8e8;
	width: 702px;
}
.singular #primary #content .type-rio_message .entry-content p {
	padding: 10px;
	padding-top: 10px;
	margin: 0px;
}
.singular .type-rio_message .entry-content, .singular .type-rio_message .entry-summary {
	padding: 0px;
}
/*.singular .type-rio_message .entry-header {
 background-color: #2A2A2A; iframe
 }*/

.hidden {
	display: none;
}

#primary #content .type-rio_message .entry-header {
	padding-left: 15px;
	width: 716px
}
#primary #content .type-rio_message .entry-title {
	padding-right: 10px;
	padding-left: 0px;
}

/* Daniel */
.thumbnail {
	float: left;
}
.tags {
	float: right;
	width: 600px;
}

/* Login Header */
#login {
	float: left;
	margin-top: 5px;
	/*width: 450px;*/
	/*border-right:1px solid white;*/
	/*margin-right:20px;*/
	/*padding-right:30px;*/
}

#login form {
	float: left;
	line-height: 20px;
}
#login #user_login, #login #user_pass {
	padding: 0px;
	height: 18px;
	font-size: 14px;
	width: 80px;
}
#login label, #login h2 {
	color: white;
	line-height: 30px;
}
#login .login_container {
	float: left;
}
#login .pass_container, #login .rememberme, #login .submit, #login .avatar_container, #login .welcome, #login .pagenav {
	float: left;
	margin-left: 10px;
}
#login .rememberme {
	margin-bottom: 0px;
}
#login .submit {
	float: left;
	margin-bottom: 0px;
}
#login .submit input {
	font-size: 12px;
	line-height: 20px;
	background-color: #DDDDDD;
	border: none;
	padding: 2px 4px;
	height: 22px;
	margin: 0;
	margin-top: 3px;
}
#login .avatar_container img {
	width: 20px;
	height: 20px;
}
#login .pagenav {
	margin-bottom: 0;
	margin-top: 5px;
}
#login .pagenav li {
	padding-top: 0;
	padding-bottom: 0;
}
#login .sidebarlogin_otherlinks {
	float: left;
	margin: 0 0 0 10px;
	padding-left: 8px;
}
#login .sidebarlogin_otherlinks li {
	padding: 0;
}
#login input {
	background: #e2e2e2;
}

/*oneall --> social network-login*/
#top-menu iframe {
	max-width: 120px;
}
.oneall_social_login_label {
	/*display: none;*/
	display: inline;
	float: left;
	margin: 0px;
	line-height: 44px;
}
#top-menu #login .oneall_social_login {
	width: 200px;
	height: 35px;
	overflow: hidden;
	float: left;
	clear: none;
	margin-top: -8px;
}
#top-menu #login .oneall_social_login .welcome {
	display: inline;
	float: left;
	clear: none;
}
#top-menu #login .oneall_social_login.oneall_social_login_label {
	float: left;
	display: inline;
	margin: 0px;
	clear: none;
}
#login .pass_container, #login .rememberme, #login .submit, #login .avatar_container, #login .welcome, #login .pagenav {
	float: left;
	margin-left: 10px;
	clear: none;
}
#login .login_error{
	color: #4abbdd;
}

/*settingsform*/
#main .feu-box {
	margin-left: 70px;
}
#main .feu-box h1 {
	font-size: 20px;
	font-weight: bold;
}
.feu-box .feu-form fieldset > div > div span.description {
	font-size: 11px;
	float: none;
	width: 350px;
}
.feu-form fieldset legend {
	font-size: 16px;
	font-weight: bold;
	border-bottom: 1px solid #EEE;
	margin-bottom: 8px;
	padding-bottom: 4px;
}
#login .sidebarlogin_otherlinks li {
	line-height: 30px;
}
/*pages*/
.singular.page .hentry {
	padding: 0px;
}
.singular .entry-title {
	color: black;
	font-size: 20px;
	font-weight: bold;
	line-height: 48px;
}
#respond .oneall_social_login {
	overflow-x: hidden;
}
#supplementary #first {
	width: 150px;
}
#supplementary #second {
	width: 150px;
}
#supplementary #third {
	width: 350px;
}
#supplementary #third a {
	margin-right: 20px;
}

/*footer*/

#colophon #supplementary #first {
	margin-right: 0px;
}
#colophon #supplementary #first ul{
	list-style: none;
}
#colophon #supplementary #second {
	margin-right: 3px;
	width: 86.5%;
	width: 160px;
}
#colophon #supplementary #third {
	width: 86.5%;
	width: 415px;
}
#colophon #supplementary #third a {
	margin-right: 10px;
}

.ajax_more_posts {
	width: 100px;
	height: 30px;
	margin: 20px auto 20px auto;
}
.ajax_more_posts img {
	margin-left: 30px;
}

._ajaxpaging_loading {
	position: relative;
	margin-left: 5px;
	top: 4px;
}

.querybutton, .querybutton:visited {
	display: inline-block;
	padding: 5px 10px 6px;
	color: #fff;
	text-decoration: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
	text-align: center;
}

.querybutton:hover {
	background-color: #373737;
	color: #fff;
}
.querybutton:active {
	top: 1px;
}
.large.querybutton, .large.querybutton:visited {
	font-size: 16px;
	padding: 6px 14px 5px;
}

.green.querybutton, .orange.querybutton:visited {
	background-color: #A1CC12;
	color: #2A2A2A;
}
.green.querybutton:hover {
	background-color: #3c3c3b;
	color: #E8E8E8;
}

/*sharing in Übersicht der Artikel!*/